body {
  cursor: default;
}

.container {
  text-align: center;
}

form {
  min-width: 1200px;
}

.col-auto {
  margin-left: 24px;
  padding-bottom: 15px;
}

.form-control-lg {
  border: 2px solid;
}

.btn {
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-primary {
  margin-left: 0;
}

.btn-success {
  margin-right: 40px;
}

h1 {
  color: #6c757d;
}
#date {
  font-size: 20px;
}

h3 {
  padding-bottom: 10px;
}

#city {
  word-wrap: normal;
}

#speed {
  list-style: none;
  font-size: large;
  text-align: left;
  margin-left: -10px;
  margin-top: -25px;
  padding: 0;
}

#description {
  list-style: none;
  font-size: large;
  text-align: left;
  margin-left: -10px;
  padding-top: 10px;
}

#description::first-letter {
  text-transform: capitalize;
}

#units {
  font-size: medium;
  position: relative;
  top: -18px;
}

#fahrenheit-link {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}

.active {
  color: #6c757d;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  color: #6c757d;
  text-decoration: none;
  cursor: default;
}

.card-body {
  margin-bottom: -20px;
}

.table {
  font-size: 20px;
  color: #6c757d;
  border-color: rgba(0, 0, 0, 0);
}

.emoji {
  font-size: 60px;
}

.max {
  color: black;
}

.min {
  color: #6c757d;
}

.footer {
  text-align: start;
}
